.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, var(--base), var(--accent));
  text-align: center;
}

.app-main {
  flex-grow: 1;
}